.gpt3__footer {
  border: 1px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-footer);
}
.gpt3__footer-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
.gpt3__footer-heading h2 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04em;
}
